<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href="../css/misprimerosestilos.css" rel="stylesheet" type="text/css">
	<title>Rent a Car Jessi</title>
</head>

<body>

	<div id="header">
		<ul class="nav">
				<li><a href="">Inicio</a> </li>
				<li><a href="">Clientes</a>
						<ul>
							<li><a href="/clientes/buscarVehiculos">Buscar vehículos disponibles</a> </li>
							<li><a href="/clientes/reservar/buscarVehiculo">Reservar vehículo</a> </li>
							<li><a href="/clientes/clienteNuevo">Registrarse como cliente</a> </li>
						</ul>
				 </li>
				<li><a href="">Empleados</a>
					<ul>
							<li><a href="/empleados/clienteNuevo">Registrar cliente</a> </li>
							<li><a href="/empleados/buscarCliente">Buscar cliente</a> </li>
							<li><a href="/empleados/vehiculoNuevo">Ingresar un vehículo</a> </li>
							<li><a href="/empleados/buscarVehiculo">Buscar vehículo</a> </li>
							<li><a href="/empleados/retirarVehiculoBuscar">Retirar un vehículo reservado</a> </li>
							<li><a href="/empleados/">Retirar un vehículo sin reserva</a> </li>
						</ul>
				 </li>
				<li><a href="">Reportes</a> 
					<ul>
							<li><a href="/reportes/reporteReservas">Reporte de Reservas</a> </li>
							<li><a href="/reportes/reporteClientesVIP">Reporte de Clientes VIP</a> </li>
							<li><a href="/reportes/reporteVehiculosVIP">Reporte de Vehículos VIP</a> </li>
						</ul>
				</li>
		
		</ul>
	
	
	</div>



</body>



</html>